* text=auto

*.c text eol=lf
*.h text eol=lf
*.html text eol=lf
*.js text eol=lf
*.md text eol=lf
*.py text eol=lf
*.service text eol=lf
*.sh text eol=lf
*.txt text eol=lf
CMakeLists.txt text eol=lf
console-chinese/walnut-cn text eol=lf
console-chinese/walnut-login-choice text eol=lf
terminal-toys/walnut-fun text eol=lf
walnut-ai-terminal/skills/walnutpi-1b-zerow/scripts/walnutpi-doc-search text eol=lf
walnut-assistant/walnut text eol=lf
scripts/walnut-voice-cli text eol=lf

*.bat text eol=crlf
*.glb binary
*.jpg binary
*.png binary
*.rgb565 binary
*.avtc binary
*.avtx binary
